
.about-me {
  text-align: center;
}

.jumbotron {
    background-image: url('https://img.freepik.com/free-photo/old-grunge-cement-wall-backgrounds_34552-195.jpg?size=626&ext=jpg');
    background-size: cover;
   
  }

